<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" />
    <link href="{{asset "css/ionicons.css"}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans:100italic,100,300italic,300,400italic,400,600italic,600,700italic,700">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="container">
        <div class="row">
            <div class="side-nav">
                <div class="logo">
                    <a href="/">
                      {{#if @blog.logo}}<img alt="Blog Logo" src="{{@blog.logo}}" > {{/if}}
                      <span id="logoTextPart1">{{@blog.title}}</span> 
                    </a>
                </div>
                <!-- These menus get rendered for desktop - start -->    
                <nav>
                  <footer>
                      <ul>
                        <li>
                          <a href="https://github.com/hackages" target="_blank">
                            <i class="icon ion-social-github-outline"></i>
                            <p>GitHub</p>
                          </a>
                        </li>
                        <li>
                          <a href="https://twitter.com/hackages" target="_blank">
                            <i class="icon ion-social-twitter-outline"></i>
                            <p>@hackages</p>
                          </a>
                        </li>
                      </ul>
                    </footer>
                </nav>
                <!-- menus ends -->
            </div>
        </div>
        <header class="cover">
            <div class="mobilelogo">
                <span id="logoTextPart1">{{@blog.title}}</span> 
                <a href="/">
                  {{#if @blog.logo}}<img alt="Blog Logo" src="{{@blog.logo}}" > {{/if}}
                </a>
                <!-- This menu gets rendered for mobile or iPad -->
                    <ul class="menuHamburger clearfix" role="navigation">

                        <li class="categories dropdown">
                            <a class="icon" data-dropdown="site-map-dropdown" data-render="renderSiteMap" href="#" title="go to another topic list or category" id="site-map">
                                <i class="icon ion-navicon-round" aria-hidden="true"></i>
                            </a>
                        </li>
                        <section class="d-dropdown" id="site-map-dropdown" >
                      <ul class="location-links">
                        <li>
                            <a href="https://twitter.com/hackages" target="_blank">
                                <i class="icon ion-social-twitter-outline"></i>    
                                @hackages
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/hackages" target="_blank">
                                <i class="icon ion-social-github-outline"></i>    
                                GitHub
                            </a>
                        </li>
                      </ul>
                    </section>
                    </ul>
                 <!-- menus end-->
        </div>
    </header>
        <div class="main-pane">
            {{! Everything else gets inserted here }}
            {{{body}}}

            <footer class="main">
                <span class="attribution">© Hackages 2016</span>
                <span class="expand-wrapper">
                  <span id="expandor" class="expand"></span>
                </span>
                <nav id="nav">
                  <a href="http://hackages.io" target="_blank">hackages.io</a>
                  <a href="https://github.com/hackages" target="_blank">github</a>
                </nav>
            </footer>
            <span class="mobileAttribution">© Hackages 2016</span>
         </div>
    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for CodeBlue }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</body>
</html>
